<header role="banner">
  <a class="logo" rel="author" href="/">
    <img src="{{ site.gravatar_url }}" alt="" title="{{ site.author }}" />
    andrew<span>gunn;</span>
  </a>
  
  <nav>
    <ul>
      {%- if page.url == "/" -%}
        <li class="active">
      {%- else -%}
        <li>
      {%- endif -%}
        <a href="/">Blog</a>
      </li>
      {%- for sitePage in site.pages -%}
        {%- if sitePage.nav -%}
          {{sitePate.url}}
          {%- if sitePage.url == page.url -%}
            <li class="active">
          {%- else -%}
            <li>
          {%- endif -%}
            <a href="{{ sitePage.url | relative_url }}">{{ sitePage.title | escape }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <ul class="social">
      <li>
        <a href="https://twitter.com/andrewgunn" title="Twitter">
          <i class="fab fa-twitter"></i>
          <span class="visually-hidden">Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/andrewgunn" title="GitHub">
          <i class="fab fa-github"></i>
          <span class="visually-hidden">GitHub</span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
          <i class="fab fa-linkedin"></i>
          <span class="visually-hidden">LinkedIn</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
