<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- if page.tags.size > 0 -%}
    <meta name="keywords" content="{{ page.tags | join: ', ' | slugify }}" />
  {%- elsif site.tags.size > 0 -%}
    {%- assign siteTags = "" | split: "," -%}
    {%- for siteTag in site.tags -%}
      {%- assign slug = siteTag[0] | slugify -%}
      {%- assign siteTags = siteTags | push: slug -%}
    {%- endfor -%}
    <meta name="keywords" content="{{ siteTags | join: ',' }}" />
  {%- endif -%}

  <title>
    {%- if page.title -%}
      {{ page.title }} &middot; {{ site.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  <link href="https://feeds.andrewgunn.co.uk/andrewgunnblog" rel="alternate" title="{{ site.title }}" type="application/atom+xml">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.4.2/css/light.css" integrity="sha384-n0uyPlhqrQyWPPzm6+B9xDeZKCD81RgGRsTO7PQt3McgMXSR9zjhGaD5cXHwk+D8" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.4.2/css/brands.css" integrity="sha384-RjTk1OTKX8K8S4QfwhFOfbNSbQxLFgN6jqDw05QuBDDEbc/x6xlPtkPSO4vA1TtI" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.4.2/css/fontawesome.css" integrity="sha384-XkH+Vmez3OoFo52K+SkBE61xZ7vKh9tF35gL9Yf8rD3RtKUqIQGoTJTsLdR5u8rt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/dracula.min.css">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}?{{ site.time | date: '%s%N' }}">

	{%- seo -%}

  {%- include google-analytics.html -%}
</head>
