<header role="banner">
    <a class="logo" rel="author" href="/"><img src="{{ site.gravatar_url }}" alt="{{ site.author }}" title="{{ site.author }}" /> andrew<span>gunn;</span>
    </a>

    <nav>
        <ul>
            {% if page.url == "/" %}
                <li class="active">
                    <a href="/">Blog</a>
                </li>
            {% else %}
                <li>
                    <a href="/">Blog</a>
                </li>
            {% endif %}
            {% for sitePage in site.pages %}
                {% if sitePage.nav %}
                    {% if sitePage.url == page.url %}
                        <li class="active">
                            <a href="{{ sitePage.url | relative_url }}">{{ sitePage.title | escape }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ sitePage.url | relative_url }}">{{ sitePage.title | escape }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>

        <ul class="social">
            <li>
                <a href="https://github.com/{{ site.github_username }}" title="GitHub" target="_blank"><i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn" target="_blank"><i
                        class="fab fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>