// *************************************
//
//   Archive styles
//
// *************************************

section.archive {

	h1 {
		margin: 0.5rem 0;
		text-align: left;
	}

	h2 {
		border-bottom: 1px solid $off-white;
	}

	.meta {
		margin-top: 0;
		text-align: left;
	}
}

