// *************************************
//
//   Footer styles
//
// *************************************

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1rem;
  background: $dark-blue;
  color: $white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.7rem;

  p {
    margin: 0;

    &:last-child {
      text-align: right;
    }
  }

  svg {
    display: inline-block;
    max-width: 3rem;
    vertical-align: middle;
    margin-top: -0.125rem;
    margin-left: 0.25rem;
  }

  @media screen and (max-width: 768px) {
    display: block;

    p:last-child {
      margin-top: 0.5rem;
      text-align: left;
    }
  }
}