// *************************************
//
//   Home styles
//
// *************************************

section.home {
	article.post {
		border-bottom: 1px solid $off-white;
		margin-bottom: 2rem;
		padding-bottom: 2rem;
	}
}