// *************************************
//
//   Typography styles
//
// *************************************

a {
  color: $dark-blue;

  &:hover, &:focus {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $mid-blue;
  font-family: "Alegreya", Georgia, "Times New Roman", serif;
  font-weight: 500;
  line-height: 1.2;

  a {
    color: $mid-blue;
    text-decoration: none;

    &:hover, &:focus {
      color: $dark-blue;
    }
  }
}

h1, .h1 {
  text-align: center;
  font-size: 2.1rem;
}

h2, .h2 {
  font-size: 1.6rem;
}

h3, .h3 {
  font-size: 1.4rem;
}

h4, .h4 {
  font-size: 1.4rem;
}

h5, .h5 {
  font-size: 1.2rem;
}

h6, .h6 {
  font-size: 0.925rem;
}

em {
	font-style: italic;
}

p {
	margin: 1rem 0;
}

.meta {
	color: $light-grey;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 0.75rem;
	text-align: center;

	span {
		color: $mid-blue;
		padding: 0 0.25rem;
  }
}

code {
	color: $mid-blue;
	background: $off-white;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 0.9rem;
}