// ***
//
// Archive styles
//
// ***

section.archive {
  h2 {
    border-bottom: 1px solid $off-white;
  }

  .meta {
    color: $light-grey;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.75rem;
    
    @media screen and (max-width: 768px) {
      font-size: 0.85rem;
    } 
  }
}
