// ***
//
// Tags styles
//
// ***

section.tags {
  .meta {
    text-align: center;
    
    ul {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 0.25rem;
      }
    }
  }
}

.tag {
  background-color: #eee;
  border-radius: 5px;
  padding: 0.25rem;
}