---
layout: default
---

<section class="about">
	<div>
		{{ content }}
	</div>
	<div>
		<img src="{{ site.gravatar_url }}" alt="" title="{{ site.author }}" />
		<ul class="social">
	      <li>
					<i class="fab fa-twitter"></i>
	        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
						{{ site.twitter_username }}
	        </a>
	      </li>
	      <li>
					<i class="fab fa-github"></i>
	        <a href="https://github.com/{{ site.github_username }}" title="GitHub">
						{{ site.github_username }}
	        </a>
	      </li>
	      <li>
					<i class="fab fa-linkedin"></i>
	        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
						{{ site.linkedin_username }}
	        </a>
	      </li>
    	</ul>
	</div>
</section>
