---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline">{{ page.title | escape }}</h1>
  <p class="meta">
    <i class="fal fa-calendar"></i>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}{{ page.date | date: date_format }}
    </time>
    <span>//</span>
    {%- include reading-time.html -%}
    {%- if page.tags != empty -%}
      <br />
      <i class="fal fa-tags"></i>
      {%- for tag in page.tags -%}
        <a class="tag" href="/tags#{{ tag | slugify }}">
          {{- tag -}}
        </a>
      {%- endfor -%}
    {%- endif -%}
  </p>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>

<section class="post-footer">
  <div class="share-post">
    <p>
      Share this post...
      <a href="https://twitter.com/intent/tweet?text=%22{{ page.title }}%22%20by%20{{ site.author }}%0a{{ page.url | absolute_url }}" target="_blank" title="Share on Twitter">
        <i class="fab fa-twitter"></i>
        <span class="visually-hidden">Twitter</span>
      </a>
    </p>
  </div>
</section>