---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline">{{- page.title | escape -}}</h1>
  <p class="meta">
    <time datetime="{{- page.date | date_to_xmlschema -}}" itemprop="datePublished">
        <i class="fal fa-tags"></i> {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}{{- page.date | date: date_format -}}
    </time>
    {%- if page.tags != empty -%}
      <span>//</span>
      <i class="fal fa-tags"></i>
      {%- for tag in page.tags -%}
        {%- capture tag_name -%}
          {{- tag -}}
        {%- endcapture -%}
        <a class="tag" href="/tags#tag-{{- tag_name -}}">{{- tag_name -}}</a>
      {%- endfor -%}
    {%- endif -%}
    <span>//</span>
    {%- include reading-time.html -%}
  </p>

  <div itemprop="articleBody">
    {{- content -}}
  </div>

  {%- if page.author -%}
    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{- page.author -}}</span></span>
  {%- endif -%}

  <a href="{{- page.url | relative_url -}}" hidden></a>
</article>

<section class="post-footer">
  <div class="share-post">
    <p>Share this post...</p>
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text=%22{{- page.title -}}%22%20by%20{{- site.author -}}%0a{{- page.url | absolute_url -}}" target="_blank" title="Share on Twitter">
          <i class="fab fa-twitter"></i>
          <span class="visually-hidden">Twitter</span>
        </a>
      </li>
    </ul>
  </div>
</section>